.info__title {
	margin: 0;
	margin-bottom: 2%;
	text-transform: uppercase;
	font-size: 20px;
	line-height: normal;
}

@media screen and (max-width: 965px) {
	.info__title {
	 font-size: calc(1px + 19 * (100vw / 1280));
	line-height: .8;
	}
}