.info__title {
	margin: 0;
	margin-bottom: 2%;
	text-transform: uppercase;
	line-height: normal;
	font-size: calc(1px + 19 * (100vw / 1280));
}

@media screen and (max-width: 1250px) {
	.info__title {
		margin-bottom: 0;
	}
}