@font-face {
	font-family: Poppins;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(./Poppins/Poppins-Bold.woff2) format('woff2'), url(./Poppins/Poppins-Bold.woff) format('woff');
}

@font-face {
	font-family: Poppins;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(./Poppins/Poppins-Medium.woff2) format('woff2'), url(./Poppins/Poppins-Medium.woff) format('woff');
}

@font-face {
	font-family: Poppins;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(./Poppins/Poppins-Regular.woff2) format('woff2'), url(./Poppins/Poppins-Regular.woff) format('woff');
}