.buttons__play {
	display: inline-block;
	margin-right: 4%;
	color: #fff;
	font-size: calc(1px + 15 * (100vw / 1280));
	font-weight: 700;
	width: 19%;
	padding-top: 1.3%;
	padding-right: 0;
	padding-bottom: 1.4%;
	padding-left: 3%;
	border: none;
	border-radius: 16px;
	background-color: #406343;
	box-shadow: 25px -25px 50px 0px rgba(0, 0, 0, 0.10), -25px 0px 50px 0px rgba(0, 0, 0, 0.10);
	background-image: url("../../../img/play.svg");
	background-repeat: no-repeat;
	background-size: 11%;
	background-position: 12% 45%;
	transition: .3s ease-in-out;
	cursor: pointer;
}

.buttons__play:hover {
	opacity: .8;
}

@media screen and (max-width: 700px) {
	.buttons__play {
		background-position: 11%;
		background-size: 10%;
	}
}

@media screen and (max-width: 400px) {
	.buttons__play {
		background-position: 10% 47%;
		background-size: 8.9%;
	}
}