.info {
	margin-left: 70%;
	width: 22%;
	position: absolute;
	bottom: 8%;
}

@media screen and (max-width: 1150px) {
		.info {
		bottom: 10%;
	}
}

@media screen and (max-width: 1055px) {
	.info {
	bottom: 8%;
	}
}

@media screen and (max-width: 630px) {
	.info {
	bottom: 5%;
	}
}